# Estat√≠stica descritiva univariada

## Tabela de distribui√ß√£o de frequ√™ncias e representa√ß√µes gr√°ficas

As tabelas de distribui√ß√µes de frequ√™ncia podem ser utilizadas para representar a frequ√™ncia de ocorr√™ncias de um conjunto de observa√ß√µes de vari√°veis qualitativas ou quantitativas.

No caso de vari√°veis qualitativas, a tabela representa a frequ√™ncia de ocorr√™ncias de cada categoria da vari√°vel. Para as vari√°veis quantitativas discretas, a frequ√™ncia de ocorr√™ncias √© calculada para cada valor discreto da vari√°vel. J√° os dados das vari√°veis cont√≠nuas s√£o agrupados inicialmente em classes, e a partir da√≠ s√£o calculadas as
frequ√™ncias de ocorr√™ncias para cada classe.

Uma tabela de distribui√ß√£o de frequ√™ncias usualmente comporta os seguintes c√°lculos:

- Frequ√™ncia absoluta (*F<sub>i</sub>*): n√∫mero de ocorr√™ncias de cada elemento *i* na amostra.
- Frequ√™ncia relativa (*Fr<sub>i</sub>*): porcentagem relativa √† frequ√™ncia absoluta.
- Frequ√™ncia acumulada (*F<sub>ac</sub>*): soma de todas as ocorr√™ncias at√© o elemento analisado.
- Frequ√™ncia relativa acumulada (*Fr<sub>ac</sub>*}: porcentagem relativa √† frequ√™ncia acumulada (soma de todas as frequ√™ncias relativas at√© o elemento analisado).

#### Exemplo 1

Um determinado hospital precisa de ao menos 60 doa√ß√µes de sangue por dia para manter seu estoque para transfus√µes. A seguinte base de dados apresenta o tipo sangu√≠neo para os doadores de um determinado dia. Utilizaremos tal base para construir uma tabela de distribui√ß√£o de frequ√™ncias.

In [8]:
import pandas as pd

In [9]:

DADOS = "../base_de_dados/blood_donors.csv"

df = pd.read_csv(DADOS)

df.head()

   donor_id blood_type
0         1         a+
1         2         a+
2         3         a+
3         4         a+
4         5         a+

In [10]:
#checando as 5 ultimas do df
df.tail()

    donor_id blood_type
55        56         o+
56        57         o+
57        58         o+
58        59         o-
59        60         o-

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   donor_id    60 non-null     int64
 1   blood_type  60 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

gerando estat√≠sticas descritivas apenas para colunas n√£o num√©ricas

In [11]:
#checando coluna blood_type
df.describe(exclude='number')

       blood_type
count          60
unique          8
top            o+
freq           32

contando a **frequ√™ncia de cada valor √∫nico** na coluna `"blood_type - do maior para o menor"

In [12]:
df['blood_type'].value_counts()

blood_type
o+     32
a+     15
b+      6
a-      2
o-      2
b-      1
ab-     1
ab+     1
Name: count, dtype: int64

Ordenando tipos sanguineos

In [13]:
df['blood_type'].value_counts().sort_index()

blood_type
a+     15
a-      2
ab+     1
ab-     1
b+      6
b-      1
o+     32
o-      2
Name: count, dtype: int64

analisando a distribui√ß√£o de uma vari√°vel categ√≥rica (`blood_type`).
## **üìå Resumo**
Esse c√≥digo gera uma **tabela de frequ√™ncias** para a vari√°vel `"blood_type"` com as seguintes informa√ß√µes:  
1Ô∏è‚É£ **Frequ√™ncia absoluta**: Quantas vezes cada tipo sangu√≠neo aparece.  
2Ô∏è‚É£ **Frequ√™ncia relativa**: A porcentagem de cada tipo no total.  
3Ô∏è‚É£ **Frequ√™ncia acumulada**: A soma progressiva da frequ√™ncia absoluta.  
4Ô∏è‚É£ **Frequ√™ncia relativa acumulada**: A soma progressiva da frequ√™ncia relativa (sempre termina em `1.0` ou `100%`).

In [14]:
#inicializando um DataFrame vazio que ser√° preenchido com as an√°lises.
df_analise_estatistica= pd.DataFrame()

#criando colunas para analise de frequencias
#Criando a coluna de frequ√™ncia absoluta**
# value_counts()‚Üí Conta quantas vezes cada tipo sangu√≠neo aparece.  
#.sort_index()` ‚Üí Organiza os tipos sangu√≠neos em **ordem alfab√©tica** para facilitar a leitura.
df_analise_estatistica['frequencia'] =  df['blood_type'].value_counts().sort_index()

#frequencia relativa(percentual) -  transformar em porcentagem  -> value_counts(normalize=True)
#- Exemplo: Se `"A+"` aparece 3 vezes em um total de 6 registros, a frequ√™ncia relativa ser√° `3/6 = 0.5` (ou 50%).  

df_analise_estatistica['frequencia_relativa'] = df['blood_type'].value_counts(normalize=True).sort_index()

#frequencia acumulada -Ele soma cada valor com o anterior, ajudando a visualizar **quantos valores j√° foram contados at√© aquele ponto

df_analise_estatistica['frequencia_acumulada'] = df_analise_estatistica['frequencia'].cumsum()

#- `cumsum()` acumula os valores da **frequ√™ncia relativa**.  
#- Isso mostra **a porcentagem acumulada** dos valores j√° contados.  

df_analise_estatistica['frequencia_relativa_acumulada'] = df_analise_estatistica['frequencia_relativa'].cumsum()

df_analise_estatistica

,frequencia,frequencia_relativa,frequencia_acumulada,frequencia_relativa_acumulada
blood_type,,,,
a+,15,0.250000,15,0.250000
a-,2,0.033333,17,0.283333
ab+,1,0.016667,18,0.300000
ab-,1,0.016667,19,0.316667
b+,6,0.100000,25,0.416667
b-,1,0.016667,26,0.433333
o+,32,0.533333,58,0.966667
o-,2,0.033333,60,1.000000

In [15]:
from funcoes_auxiliares import tabela_distribuicao_frequencias

tabela_distribuicao_frequencias(df, "blood_type")

,frequencia,frequencia_relativa,frequencia_acumulada,frequencia_relativa_acumulada
blood_type,,,,
a+,15,0.250000,15,0.250000
a-,2,0.033333,17,0.283333
ab+,1,0.016667,18,0.300000
ab-,1,0.016667,19,0.316667
b+,6,0.100000,25,0.416667
b-,1,0.016667,26,0.433333
o+,32,0.533333,58,0.966667
o-,2,0.033333,60,1.000000